<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Spring Boot + JPA + Datatables</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/js/datatable.js"></script>
</head>

<body>
<h1>Patient Table</h1>
<table id="patientTable" class="display">

    <!-- Header Table -->
    <thead>
    <tr>
        <!--<th>Id</th>-->
        <th>Department</th>
        <th>Number</th>
        <th>Date</th>
        <th>Last</th>
        <th>First</th>
        <th>Second</th>
    </tr>
    </thead>
    <!-- Footer Table -->
    <tfoot>
    <tr>
        <!--<th>Id</th>-->
        <th>Department</th>
        <th>Number</th>
        <th>Date</th>
        <th>Last</th>
        <th>First</th>
        <th>Second</th>
    </tr>
    </tfoot>
</table>
<button><a href="new.ftl">Add new patient</a></button>

</body>
</html>